.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  background-color: #35362b !important;
  margin-bottom: 1rem;
  padding: 15px 0 25px 0;
}

.nav-title {
  font-family: 'Stardos Stencil', cursive;
  text-transform: uppercase;
  color: #ffeeff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding-bottom: 0.7em;
  padding-left: 20px;
  margin-top: 2.5px;
}

#links {
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  /* padding-right: 20px; */
  margin-bottom: -15px;
  float: inherit;
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: #c7d1d8;
  font-size: 16px;
  margin: 0 0.75rem;
  margin-bottom: -30px;
  text-decoration: none;
  letter-spacing: 1.5px;
}

.navbar a:hover {
  color: #ffffff;
}
